/* font-family: 'Saira', sans-serif; 
font-family: 'Saira Condensed', sans-serif; */

/* Need fixes:
1600 x 900 
1024 x 760
1440 x 900 
1280 x 768 */

/* Nokia Lumia 520 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

html {
    font-size: 10px;
}

header * {
    font-family: 'Saira Condensed', sans-serif;
    color: white;
    text-transform: uppercase;
}

header {
    height: 100vh;
    position: relative;
    background-color: #29a6dc;
    overflow: hidden;
}

header div.welcome {
    width: 100%;
    height: 40vh;
    padding-top: 40px;
    text-align: center;
}

header p {
    font-size: 4rem;
    font-weight: bold;
}

header h1,
header h2 {
    font-size: 2rem;
    font-weight: bold;
}

header h2 {
    font-weight: normal;
    padding-bottom: 20px;
}

header a {
    display: inline-block;
    width: 60vw;
    font-family: 'Saira', sans-serif;
    text-align: center;
    text-decoration: none;
    padding: 0 15px;
    line-height: 32px;
    font-size: 1.2rem;
    font-weight: 300;
    border: 2px solid white;
}

header img {
    position: absolute;
    height: 55vh;
    width: 100vw;
    left: 15vw;
    bottom: 0;
}

/* iPhone 5/SE */

@media (min-height: 568px) and (min-width: 320px) {

    header p {
        font-size: 4.2rem;
    }

    header h1,
    header h2 {
        font-size: 2.4rem;
    }

    header a {
        line-height: 34px;
        font-size: 1.2rem;
    }
}

/* Galaxy S5 */

@media (orientation: portrait) and (min-width: 360px) {

    header p {
        font-size: 4.8rem;
    }

    header h1,
    header h2 {
        font-size: 2.4rem;
    }

    header a {
        line-height: 38px;
        font-size: 1.4rem;
    }
}

/* iPhopne 6/7/8 */

@media (orientation: portrait) and (min-width: 375px) {

    header p {
        font-size: 5rem;
    }

    header h1,
    header h2 {
        font-size: 2.8rem;
    }

    header a {
        line-height: 40px;
        font-size: 1.5rem;
    }
}

/* iPhopne 6/7/8 Plus / Pixel 2*/

@media (orientation: portrait) and (min-width: 411px) {

    header p {
        font-size: 6rem;
    }

    header h1,
    header h2 {
        font-size: 3.2rem;
    }

    header a {
        line-height: 46px;
        font-size: 1.7rem;
    }
}

/* Samsung Galaxy S9 */

@media (max-width: 360px) and (min-height: 740px) {

    header p {
        font-size: 7rem;
    }

    header h1,
    header h2 {
        font-size: 3rem;
    }

    header a {
        width: 65vw;
        line-height: 44px;
        font-size: 1.6rem;
    }
}

/* Samsung Galaxy S9+ */

@media (max-width: 412px) and (min-height: 846px) {

    header p {
        font-size: 8rem;
    }

    header h1,
    header h2 {
        font-size: 3.4rem;
    }

    header a {
        width: 65vw;
        line-height: 48px;
        font-size: 1.8rem;
    }
}

/* iPhone X */

@media (max-width: 375px) and (min-height: 812px) {

    header p {
        font-size: 7rem;
    }

    header h1,
    header h2 {
        font-size: 3rem;
    }

    header a {
        width: 70vw;
        margin-top: 20px;
        line-height: 50px;
        font-size: 1.8rem;
    }
}

/* iPad */

@media (min-width: 768px) and (min-height: 1024px) {
    header p {
        font-size: 9rem;
    }

    header h1,
    header h2 {
        font-size: 4.5rem;
    }

    header a {
        width: 60vw;
        margin-top: 20px;
        line-height: 60px;
        font-size: 2.8rem;
    }
}

/* Landscape orientations */

/* Nokia Lumia 520 */

@media (orientation: Landscape) {

    header div.welcome {
        width: 30wh;
        height: 100vh;
        position: absolute;
        left: 10vw;
        top: 10vh;
        text-align: left;
    }

    header a {
        width: 35vw;
        border: 1px solid white;
    }

    header img {
        height: 90vh;
        width: 47vw;
        left: 55vw;
    }
}

/* iPhone 5/SE */

@media (orientation: Landscape) and (min-width: 568px) {

    header div.welcome {
        top: 5vh;
    }

    header p {
        font-size: 5rem;
    }

    header h1,
    header h2 {
        font-size: 2.2rem;
    }

    header a {
        line-height: 36px;
        font-size: 1.3rem;
    }
}

/* Samsung Galaxy S5 */

@media (orientation: Landscape) and (min-width: 640px) {

    header div.welcome {
        top: 5vh;
    }

    header p {
        font-size: 5.5rem;
    }

    header h1,
    header h2 {
        font-size: 2.8rem;
    }

    header a {
        line-height: 38px;
        font-size: 1.4rem;
    }

    header img {
        left: 62vw;
    }
}

/* iPhone 6/7/8 Plus / Pixel 2 */

@media (orientation: Landscape) and (min-width: 731px) {

    header p {
        font-size: 6.5rem;
    }

    header h1,
    header h2 {
        font-size: 3rem;
    }

    header a {
        line-height: 42px;
        font-size: 1.6rem;
    }
}

/* Galaxy S9 */

@media (min-height: 360px) and (min-width: 740px) {
    header div.welcome {
        top: 0vh;
    }
}

/* Galaxy S9+ */

@media (min-height: 412px) and (min-width: 845px) {
    header div.welcome {
        top: 5vh;
    }

    header p {
        font-size: 7rem;
    }

    header h1,
    header h2 {
        font-size: 3.2rem;
    }

    header a {
        line-height: 44px;
        font-size: 1.8rem;
    }
}

/* Desktop 1024px */

@media (orientation: Landscape) and (min-width: 970px) {

    header div.welcome {
        top: 15vh;
    }

    header p {
        font-size: 10rem;
    }

    header h1,
    header h2 {
        font-size: 4.5rem;
    }

    header a {
        width: 37vw;
        line-height: 70px;
        font-size: 2.6rem;
        margin: 60px 0;
        padding: 0 25px;
        transition: .4s;
    }

    header a:hover {
        background-color: #fff;
        color: #111;
    }

    header img {
        left: 65vw;
    }
}

/* Desktop 1280px  */

@media (orientation: Landscape) and (min-width: 1280px) {

    header div.welcome {
        left: 10vw;
        top: 15vh;
    }

    header p {
        font-size: 11rem;
    }

    header h1,
    header h2 {
        font-size: 5rem;
    }

    header a {
        width: 36vw;
        line-height: 70px;
        font-size: 2.8rem;
    }

    header img {
        left: 60vw;
    }
}

/* Desktop 1440px  */

@media (orientation: Landscape) and (min-width: 1440px) {

    header div.welcome {
        left: 10vw;
        top: 15vh;
    }

    header p {
        font-size: 12rem;
    }

    header h1,
    header h2 {
        font-size: 6rem;
    }

    header a {
        width: 36vw;
        line-height: 70px;
        font-size: 2.8rem;
    }
}

/* Desktop 1440px  */

@media (orientation: Landscape) and (min-width: 1600px) {

    header div.welcome {
        left: 10vw;
        top: 15vh;
    }

    header p {
        font-size: 14rem;
    }

    header h1,
    header h2 {
        font-size: 7rem;
    }

    header a {
        width: 36vw;
        line-height: 70px;
        font-size: 2.8rem;
    }
}

/* Desktop 1920px */

@media (min-width: 1820px) {

    header a {
        width: 36vw;
        line-height: 90px;
        font-size: 3.4rem;
    }
}

/* Features section */
/* Nokia Lumia 520 */

section.features {
    width: 100vw;
    padding: 30px 5% 0;
    overflow: hidden;
}

section.features h1,
section.features h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 700;
}

section.features h1 {
    font-size: 2.4rem;
    width: 80vw;
    margin: 0 auto;
    line-height: 1.4;
    padding-bottom: 15px;
}

section.features h2 {
    width: 70vw;
    margin: 0 auto;
    padding-bottom: 20px;
    font-size: 1.8rem;
    line-height: 1.2;
}

section.features p {
    width: 80vw;
    margin: 0 auto;
    text-align: center;
    font-family: 'Saira', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
}

section div.feature {
    height: 65vh;
}

section div.feature img {
    width: 80vw;
    margin-left: 5vw;
    padding-bottom: 10px;
}

/* iPhone 5/SE */

@media (min-height: 568px) and (max-width: 320px) {
    section div.feature {
        height: 60vh;
    }
}

/* Samsung Galaxy S5 */

@media (orientation: portrait) and (min-width: 360px) {
    section.features h1 {
        font-size: 2.8rem;
    }

    section.features h2 {
        font-size: 2.2rem;
    }

    section.features p {
        font-size: 1.4rem;
    }

    section.features h2:nth-child(2) {
        width: 75vw;
    }

    section div.feature:first-child {
        height: 60vh;
    }
}

/* iPhone 6/7/8 */

@media (orientation: portrait) and (min-width: 375px) {
    section.features h1 {
        font-size: 3rem;
    }

    section.features h2 {
        font-size: 2.4rem;
    }

    section.features p {
        font-size: 1.5rem;
    }

    section.features h2:nth-child(2) {
        width: 80vw;
    }
}

/* iPhone 6/7/8 Plus / Pixel 2 */
@media (orientation: portrait) and (min-width: 411px) {
    section.features h1 {
        font-size: 3.2rem;
    }

    section.features h2 {
        font-size: 2.6rem;
    }

    section.features p {
        font-size: 1.6rem;
    }
}

/* Samsung Galaxy S9 */

@media (min-height: 740px) and (min-width: 360px) {
    section div.feature {
        height: 55vh;
    }

    section div.feature:first-child {
        height: 51vh;
    }
}

/* Samsung Galaxy S9+ */

@media (min-height: 846px) and (min-width: 412px) {
    section div.feature {
        height: 57vh;
    }

    section div.feature:first-child {
        height: 54vh;
    }

    section.features h2:nth-child(2) {
        width: 85vw;
    }

    section.features h1 {
        font-size: 3.4rem;
    }

    section.features h2 {
        font-size: 2.8rem;
    }

    section.features p {
        font-size: 1.8rem;
    }
}

/* iPad */

@media (orientation: portrait) and (min-width: 768px) {

    section div.feature:first-child {
        height: 65vh;
    }

    section div.feature {
        height: 70vh;
    }

    section.features h1 {
        font-size: 4.5rem;
    }

    section.features h2 {
        font-size: 3.5rem;
        padding-bottom: 30px;
    }

    section.features p {
        font-size: 2.5rem;
    }
}

/* Orientation Landscape */

@media (orientation: Landscape) {

    section.features {
        height: 145vh;
        padding: 30px 0 0;
    }

    section div.features {
        height: 110vh;
        width: 90vw;
        margin: 0 auto;
    }

    section div.feature {
        float: left;
        width: 26.5vw;
        height: 110vh;
        margin: 0;
    }

    section div.feature img {
        width: 26.5vw;
        margin: 0;
    }

    section.features h2 {
        width: 26.5vw;
        margin: 0;
    }

    section.features p {
        width: 26.5vw;
        margin: 0;
    }

    section div.feature:nth-child(2) {
        margin: 0 5vw;
    }
}

/* iPhone 5/SE */

@media (orientation: Landscape) and (min-width: 568px) {
    section.features {
        height: 135vh;
    }

    section div.features {
        width: 95.5vw;
    }

    section div.feature {
        width: 28.5vw;
    }

    section.features h2 {
        width: 28.5vw;
    }

    section.features p {
        width: 28.5vw;
    }

    section div.feature img {
        width: 28.5vw;
    }
}

/* Samsung Galaxy S5 */

@media (orientation: Landscape) and (min-width: 640px) {
    section.features h1 {
        font-size: 2.6rem;
    }

    section.features h2 {
        font-size: 2rem;
    }

    section.features p {
        font-size: 1.3rem;
    }
}

/* iPhone 6/7/8 */

@media (orientation: Landscape) and (min-width: 667px) {
    section.features h1 {
        font-size: 2.8rem;
    }

    section.features h2 {
        font-size: 2.1rem;
    }

    section.features p {
        font-size: 1.4rem;
    }
}

/* iPhone 6/7/8 */

@media (orientation: Landscape) and (min-width: 667px) {
    section.features h1 {
        font-size: 2.8rem;
    }

    section.features h2 {
        font-size: 2.1rem;
    }

    section.features p {
        font-size: 1.4rem;
    }
}

/* iPhone 6/7/8 / Pixel 2*/

@media (orientation: Landscape) and (min-width: 731px) {

    section.features {
        height: 130vh;
    }

    section div.features {
        height: 100vh;
    }

    section div.feature {
        height: 100vh;
    }

    section.features h1 {
        font-size: 3.2rem;
    }

    section.features h2 {
        font-size: 2.3rem;
    }

    section.features p {
        font-size: 1.5rem;
    }
}

/* Samsung S9 */

@media (max-height: 360px) and (min-width: 740px) {
    section.features {
        height: 150vh;
    }

    section div.features {
        height: 120vh;
    }

    section div.feature {
        height: 120vh;
    }
}

/* Samsung S9+ / Pixel 2 XL*/

@media (min-height: 411px) and (min-width: 823px) {

    section.features h1 {
        font-size: 3.4rem;
    }

    section.features h2 {
        font-size: 2.5rem;
    }

    section.features p {
        font-size: 1.6rem;
    }

    section.features {
        height: 135vh;
    }

    section div.features {
        height: 105vh;
    }

    section div.feature {
        height: 105vh;
    }
}

/* iPhone X */

@media (max-height: 375px) and (min-width: 812px) {

    section.features h1 {
        font-size: 3.4rem;
    }

    section.features h2 {
        font-size: 2.5rem;
    }

    section.features p {
        font-size: 1.6rem;
    }

    section.features {
        height: 145vh;
    }

    section div.features {
        height: 115vh;
    }

    section div.feature {
        height: 115vh;
    }
}

/* Desktop  1024px */

@media (orientation: Landscape) and (min-width: 1024px) {

    section.features {
        padding: 50px 0 0 0;
        height: 100vh;
    }

    section.features h1 {
        font-size: 4rem;
        padding-bottom: 40px;
    }

    section.features h2 {
        padding-bottom: 30px;
        font-size: 3rem;
    }

    section div.feature img {
        padding-bottom: 40px;
    }

    section.features p {
        font-size: 2rem;
    }
}

/* Desktop 1280px */

@media (orientation: Landscape) and (min-width: 1280px) {

    section div.feature h2:nth-child(2) {
        width: 29vw;
    }
}

@media (orientation: Landscape) and (min-height: 800px) {

    section.features {
        height: 60vw;
    }
}

/* Desktop 1440px */

@media (orientation: Landscape) and (min-width: 1440px) {
    section.features {
        height: 100vh;
    }

    section div.features {
        height: 65vh;
        width: 92vw;
    }

    section div.feature {
        height: 65vh;
    }

    section div.feature:nth-child(2) {
        margin: 0 3vw;
    }

    section.features h1 {
        font-size: 6rem;
        padding-bottom: 50px;
    }

    section.features h2 {
        padding-bottom: 40px;
    }

    section.features p {
        font-size: 2.2rem;
    }

    section div.feature img {
        padding-bottom: 50px;
    }
}

@media (orientation: Landscape) and (min-width: 1920px) {

    section.features {
        padding-top: 60px;
    }

    div.feature h2 {
        font-size: 3.6rem;
        padding-bottom: 50px;
    }
}

/* Section Projects */
/* Nokia Lumia 520 */
/* Portrait orientation */

section.projects {
    min-height: 100vh;
    width: 100vw;
    background-color: black;
    overflow: hidden;
}

section.projects h1 {
    height: 22vh;
    padding: 30px 20px;
    margin-bottom: 10px;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 3rem;
    line-height: 40px;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

div.project {
    float: left;
}

div.project img {
    width: 100vw;
}

div.about-left {
    height: 35vh;
    padding: 10px 20px 20px 0;
    margin-top: -2px;
    margin-bottom: 20px;
    font-family: 'Saira', sans-serif;
    color: white;
    background-color: #FF4F2C;
}

div.project h2 {
    font-size: 2.2rem;
    border-bottom: 2px solid white;
    padding: 0 0 6px 20px;
    margin-bottom: 12px;
}

div.project p {
    font-size: 1.2rem;
    padding-left: 20px;
}

div.about-right {
    height: 35vh;
    padding: 10px 20px 20px 0;
    margin-top: -2px;
    margin-bottom: 20px;
    font-family: 'Saira', sans-serif;
    color: white;
    background-color: #29a6dc;
}

section.motto {
    background-color: #fff;
}

/* Orientation Portrait */
/* Samsung Galaxy S5 */

@media (orientation: portrait) and (min-width: 360px) {
    section.projects h1 {
        height: 20vh;
        font-size: 3.2rem;
    }

    div.project h2 {
        font-size: 2.4rem;
        margin-bottom: 20px;
    }

    div.project p {
        font-size: 1.4rem;
    }
}

/* iPhone 6/7/8 */

@media (orientation: portrait) and (min-width: 375px) {
    div.project h2 {
        font-size: 2.5rem;
    }

    div.project p {
        font-size: 1.5rem;
    }
}

/* iPhone 6/7/8 Plus */

@media (orientation: portrait) and (min-width: 414px) {
    section.projects h1 {
        font-size: 3.6rem;
        line-height: 46px;
    }

    div.project h2 {
        font-size: 3rem;
    }

    div.project p {
        font-size: 1.7rem;
    }
}

/* Samsung Galaxy S9 */

@media (min-width: 360px) and (min-height: 740px) {
    section.projects h1 {
        font-size: 3.4rem;
        line-height: 46px;
    }

    div.project h2 {
        font-size: 2.8rem;
    }

    div.project p {
        font-size: 1.6rem;
    }
}

/* Samsung Galaxy S9+ */

@media (min-width: 412px) and (min-height: 846px) {
    section.projects h1 {
        font-size: 4rem;
        line-height: 55px;
    }

    div.project h2 {
        font-size: 3.4rem;
    }

    div.project p {
        font-size: 1.8rem;
    }
}

/* iPhone X */

@media (max-width: 375px) and (min-height: 812px) {
    section.projects h1 {
        font-size: 3.6rem;
        line-height: 55px;
    }

    div.project h2 {
        font-size: 3.2rem;
    }

    div.project p {
        font-size: 1.8rem;
    }
}

/* iPad */

@media (min-width: 768px) and (min-height: 1024px) {
    section.projects h1 {
        font-size: 7rem;
        line-height: 80px;
    }

    div.project h2 {
        font-size: 5.5rem;
    }

    div.project p {
        font-size: 2.6rem;
    }
}

/* Landscape orientation */
/* Nokia Lumia 520 */
@media (orientation: Landscape) {

    section.projects h1 {
        padding: 20px 0;
    }

    div.about-left,
    div.about-right {
        height: 50vh;
    }

    div.about-left p,
    div.about-right p {
        font-size: 1.4rem;
    }
}

/* Samsung Galaxy S5 */
@media (orientation: Landscape) and (min-width: 640px) {

    section.projects h1 {
        font-size: 3.4rem;
        margin: 0;
    }

    div.about-left h2,
    div.about-right h2 {
        font-size: 2.8rem;
    }

    div.about-left p,
    div.about-right p {
        font-size: 1.6rem;
    }
}

/* iPhone 6/7/8 Plus / change display */
@media (orientation: Landscape) and (min-width: 736px) {

    section.projects h1 {
        line-height: 50px;
    }

    div.project {
        height: 65vh;
        margin-bottom: 20px;
    }

    div.project img {
        height: 65vh;
        width: 50vw;
    }

    div.about-left,
    div.about-right {
        height: 65vh;
        width: 50vw;
        float: right;
        margin: 0;
    }

    div.about-left {
        padding-right: 40px;
    }

    div.about-right {
        float: left;
    }
}

/* Samsung S9 */
@media (max-width: 740px) and (min-height: 360px) {

    section.projects h1 {
        line-height: 50px;
    }
}

/* Samsung S9+ */
@media (orientation: Landscape) and (min-width: 846px) {

    section.projects h1 {
        line-height: 60px;
    }

    div.project h2 {
        font-size: 3rem;
    }

    div.project p {
        font-size: 1.8rem;
    }
}

/* Samsung S9+ */
@media (min-width: 812px) and (max-height: 375px) {

    section.projects h1 {
        line-height: 40px;
    }

    div.project h2 {
        font-size: 2.8rem;
    }

    div.project p {
        font-size: 1.7rem;
    }
}

/* Desktop versions */
/* 1024px / 768px */

@media (min-width: 1024px) {

    div.projects {
        width: 100vw;
        margin-left: 5vw;
    }

    section.projects h1 {
        height: 15vh;
        font-size: 4.5rem;
        line-height: 70px;
    }

    section.projects h2 {
        font-size: 3.4rem;
    }

    section.projects p {
        font-size: 2rem;
    }

    div.project {
        height: 40vh;
        width: 90vw;
        margin-bottom: 50px;
    }

    div.about-left,
    div.about-right {
        height: 40vh;
        width: 45vw;
    }

    section.projects img {
        height: 40vh;
        width: 45vw;
    }
}

/* 1280px / 768px */

@media (min-width: 1280px) {

    section.projects h2 {
        font-size: 3.6rem;
    }

    section.projects p {
        font-size: 2.2rem;
    }
}

/* 1366px / 768px */

@media (min-width: 1366px) {

    section.projects h1 {
        height: 18vh;
        font-size: 5rem;
        line-height: 100px;
    }

    div.projects {
        width: 80vw;
        margin-left: 10vw;
    }

    div.project {
        width: 80vw;
    }

    div.about-left,
    div.about-right {
        width: 40vw;
    }

    div.project img {
        width: 40vw;
    }
}

/* 1440px / 900px */

@media (min-width: 1440px) {

    section.projects h2 {
        height: 8vh;
        font-size: 4rem;
        /* margin: 20px 0; */
        padding-bottom: 80px;
        padding-top: 20px;
    }

    section.projects p {
        font-size: 2.4rem;
    }
}

/* 1920px / 1080px */

@media (min-width: 1920px) {
    section.projects h1 {
        font-size: 6rem;
        line-height: 150px;
    }

    section.projects h2 {
        font-size: 5rem;
        padding-top: 10px;
        padding-bottom: 90px;
    }

    section.projects p {
        font-size: 2.8rem;
    }
}

/* Motto section */
/* Portrait orientation */
/* Lumia 520 */

section.motto {
    height: 100vh;
    background-image: url("../images/motto.jpg");
    background-size: cover;
    background-attachment: fixed;
}

section.motto p {
    font-family: 'Saira', sans-serif;
    text-align: center;
    color: white;
}

section.motto p.title {
    padding: 50px 0 80px;
    font-size: 2.3rem;
    text-transform: uppercase;
    font-weight: 700;
}

section.motto p.description {
    width: 90vw;
    margin: 0 auto;
    font-size: 1.8rem;
    padding-bottom: 30px;
}

section.motto p.author {
    font-size: 1.2rem;
}

/* Samsung Galaxy S5 */
@media (min-width: 360px) {
    section.motto p.title {
        padding: 70px 0 100px;
    }
}

/* iPhone 6/7/8 Plus */
@media (min-width: 414px) {
    section.motto p.title {
        padding: 80px 0 100px;
        font-size: 2.6rem;
    }

    section.motto p.description {
        font-size: 2.2rem;
    }

    section.motto p.author {
        font-size: 1.6rem;
    }
}

/* Samsung Galaxy S9+ */
@media (min-width: 412px) and (max-height: 846px) {
    section.motto p.title {
        padding: 100px 0 120px;
        font-size: 3.2rem;
    }

    section.motto p.description {
        font-size: 2.2rem;
    }

    section.motto p.author {
        font-size: 1.6rem;
    }
}

/* iPad */
@media (min-width: 768px) {
    section.motto p.title {
        padding: 100px 0 120px;
        font-size: 5rem;
    }

    section.motto p.description {
        font-size: 3.2rem;
    }

    section.motto p.author {
        font-size: 2.2rem;
    }
}

/* Orientation landscape */
/* Nokia Lumia 520 */

@media (orientation: landscape) {
    section.motto p.title {
        padding: 30px 0;
    }
}

/* iPhone 6/7/8 Plus */

@media (orientation: landscape) and (min-width: 736px) {
    section.motto p.title {
        padding: 50px 0;
    }
}

/* Samsung Galaxy S9+ */

@media (orientation: landscape) and (min-width: 812px) {

    section.motto p.title {
        font-size: 4rem;
    }

    section.motto p.description {
        font-size: 2.8rem;
    }

    section.motto p.author {
        font-size: 2rem;
    }
}

/* Desktop versions */
/* Desktop 1024px x 768px */
@media (min-width: 1024px) {
    section.motto p.title {
        font-size: 6rem;
        padding: 70px 0 100px;
        font-weight: 300;
    }

    section.motto p.description {
        font-size: 3.4rem;
    }

    section.motto p.author {
        font-size: 2.4rem;
    }
}

/* Desktop 1366px x 768px */
@media (min-width: 1366px) {
    section.motto p.title {
        font-size: 6rem;
        padding: 100px 0 100px;
    }

    section.motto p.description {
        font-size: 3.4rem;
        padding-bottom: 40px;
    }

    section.motto p.author {
        font-size: 2.4rem;
    }
}

/* Desktop 1440px x 900px */
@media (min-width: 1440px) {
    section.motto p.title {
        font-size: 7rem;
    }

    section.motto p.description {
        font-size: 4rem;
        padding-bottom: 40px;
    }

    section.motto p.author {
        font-size: 2.6rem;
    }
}

/* Desktop 1600px x 900px */
@media (min-width: 1440px) {
    section.motto p.title {
        font-size: 7.5rem;
        padding: 120px 0 140px;
    }

    section.motto p.description {
        font-size: 4.2rem;
        padding-bottom: 40px;
    }

    section.motto p.author {
        font-size: 2.8rem;
    }
}

/* Desktop 1920px x 900px */
@media (min-width: 1920px) {
    section.motto p.title {
        font-size: 8rem;
        padding: 160px 0 200px;
    }

    section.motto p.description {
        width: 70vw;
        font-size: 5.5rem;
        padding-bottom: 40px;
    }

    section.motto p.author {
        font-size: 3.5rem;
    }
}

/* Hobby section */
/* Portrait section */
/* Nokia Lumia 520 */

section.hobby p {
    height: 30vh;
    padding: 20px 20px 0;
    font-family: 'saira condensed', sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

div.hobby {
    height: 25vh;
    width: 100vw;
    background-position: center;
}

div.hobby p {
    height: 7.5vh;
    padding: 0;
    font-family: 'saira', sans-serif;
    font-size: 2rem;
    line-height: 40px;
    font-weight: 400;
    text-transform: none;
    background-color: rgba(0, 0, 0, .5);
    color: white;
}

div.hobbies div.hobby:nth-child(1) {
    background-image: url("../images/hobby1.jpg");
}

div.hobbies div.hobby:nth-child(2) {
    background-image: url("../images/hobby2.jpg");
}

div.hobbies div.hobby:nth-child(3) {
    background-image: url("../images/hobby3.jpg");
}

div.hobbies div.hobby:nth-child(4) {
    background-image: url("../images/hobby4.jpg");
}

/* Samsung Galaxy S5 */

@media (orientation: portrait) and (min-width: 360px) {
    section.hobby>p {
        height: 25vh;
    }
}

/* iPhone 6/7/8 Plus */

@media (orientation: portrait) and (min-width: 414px) {
    section.hobby>p {
        height: 21vh;
    }

    div.hobby p {
        line-height: 50px;
    }
}

/* Samsung Galaxy S9 */

@media (min-width: 360px) and (min-height: 740px) {
    section.hobby>p {
        height: 21vh;
    }

    div.hobby p {
        line-height: 50px;
    }
}

/* iPhone X */

@media (min-width: 375px) and (max-height: 812px) {
    section.hobby>p {
        height: 19.5vh;
    }

    div.hobby p {
        line-height: 60px;
    }
}

/* Samsung Galaxy S9+ */

@media (min-width: 412px) and (min-height: 846px) {
    section.hobby>p {
        height: 18vh;
    }

    div.hobby p {
        line-height: 50px;
    }
}

/* iPad */

@media (min-width: 768px) and (min-height: 1024px) {
    section.hobby>p {
        height: 20vh;
        font-size: 5rem;
        line-height: 165px;
    }

    div.hobby p {
        font-size: 3rem;
        line-height: 80px;
    }
}

/* Landscape section */

@media (orientation: landscape) {
    div.hobby {
        height: 40vh;
        width: 50vw;
        float: left;
    }

    div.hobby p {
        height: 14vh;
    }
}

/* iPhone 6/7/8 */

@media (orientation: landscape) and (min-width: 667px) {

    section.hobby>p {
        height: 25vh;
    }

    div.hobby p {
        height: 12vh;
        line-height: 45px;
    }
}

/* iPhone 6/7/8 Plus */

@media (orientation: landscape) and (min-width: 667px) {

    section.hobby>p {
        height: 23vh;
    }

    div.hobby p {
        height: 10vh;
        line-height: 40px;
    }
}

/* Samsung Galaxy S9 */

@media (orientation: landscape) and (min-width: 740px) {

    section.hobby>p {
        height: 25vh;
        line-height: 50px;
    }

    div.hobby p {
        height: 12vh;
        line-height: 45px;
    }
}

/* Samsung Galaxy S9+ */

@media (orientation: landscape) and (min-width: 846px) {

    section.hobby>p {
        line-height: 60px;
    }
}

/* Desktop versions */
/* 1024px */

/* Contact section */