/* font-family: 'Saira', sans-serif;
font-family: 'Saira Condensed', sans-serif; */

/* Nokia Lumia 520 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
} 

header * {
    font-family: 'Saira Condensed', sans-serif;
    color: white;
    text-transform: uppercase;
}

header {
    height: 100vh;
    position: relative;
    background-color: #29a6dc;
    overflow: hidden;
}

header div.welcome {
    width: 100%;
    height: 40vh;
    padding-top: 40px;
    text-align: center;
}

header p {
    font-size: 4rem;
    font-weight: bold;
}

header h1, header h2 {
    font-size: 2rem;
    font-weight: bold;
}

header h2 {
    font-weight: normal;
    padding-bottom: 20px;
}

header a {
    display: inline-block;
    width: 60vw;
    font-family: 'Saira', sans-serif;
    text-align: center;
    text-decoration: none;
    padding: 0 15px;
    line-height: 32px;
    font-size: 1.2rem;
    font-weight: 300;
    border: 2px solid white;
}

header img {
    position: absolute;
    height: 55vh;
    width: 100vw;
    left: 15vw;
    bottom: 0;
}

/* iPhone 5/SE */

@media (min-height: 568px) and (min-width: 320px) {

    header p {
        font-size: 4.2rem;
    }

    header h1, header h2 {
        font-size: 2.4rem;
    }
    header a {
        line-height: 34px;
        font-size: 1.2rem;
    }
}

/* Galaxy S5 */

@media (orientation: portrait) and (min-width: 360px) {

    header p {
        font-size: 4.8rem;
    }

    header h1, header h2 {
        font-size: 2.4rem;
    }
    header a {
        line-height: 38px;
        font-size: 1.4rem;
    }
}

/* iPhopne 6/7/8 */

@media (orientation: portrait) and (min-width: 375px) {

    header p {
        font-size: 5rem;
    }

    header h1, header h2 {
        font-size: 2.8rem;
    }
    header a {
        line-height: 40px;
        font-size: 1.5rem;
    }
}

/* iPhopne 6/7/8 Plus / Pixel 2*/

@media (orientation: portrait) and (min-width: 411px) {

    header p {
        font-size: 6rem;
    }

    header h1, header h2 {
        font-size: 3.2rem;
    }
    header a {
        line-height: 46px;
        font-size: 1.7rem;
    }
}

/* Samsung Galaxy S9 */

@media (max-width: 360px) and (min-height: 740px) {

    header p {
        font-size: 7rem;
    }

    header h1, header h2 {
        font-size: 3rem;
    }

    header a {
        width: 65vw;
        line-height: 44px;
        font-size: 1.6rem;
    }
}

/* Samsung Galaxy S9+ */

@media (max-width: 412px) and (min-height: 846px) {

    header p {
        font-size: 8rem;
    }

    header h1, header h2 {
        font-size: 3.4rem;
    }

    header a {
        width: 65vw;
        line-height: 48px;
        font-size: 1.8rem;
    }
}

/* iPhone X */

@media (max-width: 375px) and (min-height: 812px) {

    header p {
        font-size: 7rem;
    }

    header h1, header h2 {
        font-size: 3rem;
    }

    header a {
        width: 70vw;
        margin-top: 20px;
        line-height: 50px;
        font-size: 1.8rem;
    }
}

/* Landscape orientations */

/* Nokia Lumia 520 */

@media (orientation: Landscape) {

    header div.welcome {
        width: 30wh;
        height: 100vh;
        position: absolute;
        left: 10vw;
        top: 10vh;
        text-align: left;
    }

    header a {
        width: 35vw;
        border: 1px solid white;
    }

    header img {
        height: 100vh;
        width: 60vw;
        left: 55vw;
    }
}

/* iPhone 5/SE */

@media (orientation: Landscape) and (min-width: 568px) {

    header div.welcome {
        top: 5vh;
    }

    header p {
        font-size: 5rem;
    }

    header h1, header h2 {
        font-size: 2.2rem;
    }

    header a {
        line-height: 36px;
        font-size: 1.3rem;
    }
}

/* Samsung Galaxy S5 */

@media (orientation: Landscape) and (min-width: 640px) {

    header div.welcome {
        top: 5vh;
    }

    header p {
        font-size: 5.5rem;
    }

    header h1, header h2 {
        font-size: 2.8rem;
    }

    header a {
        line-height: 38px;
        font-size: 1.4rem;
    }
}

/* iPhone 6/7/8 Plus / Pixel 2 */

@media (orientation: Landscape) and (min-width: 731px) {

    header p {
        font-size: 6.5rem;
    }

    header h1, header h2 {
        font-size: 3rem;
    }

    header a {
        line-height: 42px;
        font-size: 1.6rem;
    }
}

/* Galaxy S9 */

@media (min-height: 360px) and (min-width: 740px) {
    header div.welcome {
        top: 0vh;
    }
}

/* Galaxy S9+ */

@media (min-height: 412px) and (min-width: 845px) {
    header div.welcome {
        top: 5vh;
    }

    header p {
        font-size: 7rem;
    }

    header h1, header h2 {
        font-size: 3.2rem;
    }

    header a {
        line-height: 44px;
        font-size: 1.8rem;
    }
}